html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.add-tasks {
    margin: 30px 0 0 0;
}
.title-add {
    font-weight: 600;
}
.paginate {
    margin: 30px 0 0 15px;
}
/** table **/
.table .thead-dark th {
    color: #fff;
    background-color: #779fc7;
    border-color: #5d7a97;
}
.table-responsive-stack .table-responsive-stack-thead {
    font-weight: bold;
    font-size: small;
    padding-right: 10px;
}
.form-element {
    margin: 10px 0 10px 0;
}
.msg {
    color: black;
    font-size: smaller;
    border-radius: 2px;
    margin-top: 5px;
}
.msg.error {
    background-color: #dfa9a9;
}
.msg.success {
    background-color: #93c093;
}
@media screen and (max-width: 768px) {
    .table-responsive-stack tr {
        border-bottom: 3px solid #ccc;
        display: block;
    }
    /*  IE9 FIX   */
    .table-responsive-stack td {
        width: 100%;
    }

    .table-responsive-stack td,
    .table-responsive-stack th {
        display: block;
        flex: 1 1 auto;
    }
}
